# Environment
ENV=development

# Server configuration
PORT=3000
SERVER_URL="http://localhost:3000"  

# Security secrets
SESSION_SECRET="ram_" 
JWT_SECRET="farmconnects_"  

#Cloudinary
CLOUDINARY_CLOUD_NAME=farmconnects
CLOUDINARY_API_KEY=434514548968671
CLOUDINARY_API_SECRET=-jZ0Nnkmhe19gGGENM8d-P0UnXA

#google OAuth2.0
GOOGLE_CLIENT_ID="your_client_id_here"
GOOGLE_CLIENT_SECRET="your_client_secret_here"
GOOGLE_CALLBACK_URL="http://localhost:3000/v1/auth/google/callback"

#otp login 
TWILIO_ACCOUNT_SID="your_TWILIO_ACCOUNT_SID_here"
TWILIO_AUTH_TOKEN="your_TWILIO_AUTH_TOKEN_here"
TWILIO_PHONE_NUMBER="your_TWILIO_PHONE_NUMBER_here"
# Database
DATABASE_URL="mongodb+srv://farmconnects:xxx123xxx@projectm.kchc5.mongodb.net/farmconnects?retryWrites=true&w=majority&appName=projectM"

# Migration configuration
MIGRATE_MONGO_URI="mongodb+srv://farmconnects:xxx123xxx@projectm.kchc5.mongodb.net/farmconnects?retryWrites=true&w=majority&appName=projectM"
MIGRATE_AUTOSYNC="true"
